h2 {
  position: relative;
  color: #DDDDDD;
  padding-left: 50px;
  z-index: 999;
}
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
  background-image: linear-gradient(135deg, rgba(13,13,13,1) 0%, rgba(71,71,71,1) 100%);
}
#moveable {
  position: absolute;
}
.container {
  top: 10%;
  left: 5%;
}
.splash{
  box-shadow: 4px 4px 6px #000;
}
.loading {
  position: relative;
  left: -140px;
  top: 150px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
