.topbar {
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  box-shadow: 0 3px 10px #BBBBBB;
}
.menu-button {
  display: none;
}
.menu-item {
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
.menu-item:hover:not(.active) {
  background-color: #ddd;
}

.mobile {
  float: none;
  text-align: left;
}

.active {
  color: white;
  background-color: #4CAF50;
}
